{% extends "base.html" %}

{% block content %}
    <table>
        <tr valign="top">
                <h1>Club: {{ club.name }}</h1>
                <p>Description: {{club.description}}</p>
                <p>Created By: {{ club.user_name }}</p>
                <p>{{ club.members.count() }} members.</p>
                {% if not club.is_joined(current_user) %}
                <p>
                    <form action="{{ url_for('join', club_name=club.name) }}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value='Join') }}
                    </form>
                </p>
                {% else %}
                <p>
                    <form action="{{ url_for('unjoin', club_name=club.name) }}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value='Unjoin') }}
                    </form>
                </p>
        </tr>
    </table>
    {% endif %}
    <hr>
    <p>Club Members:</p>
    {% for member in members %}
        <p>{{member.username}}</p>
    {% endfor %}
{% endblock %}
