{% extends "base.html" %}

{% block content %}
    <table>
        <tr valign="top">
                <h1>Club: {{ club.name }}</h1>
                <p>Description: {{club.description}}th</p>
                <p>Created By: {{ club.user_name }}</p>
                {% if user == current_user %}
                <p><a href="{{ url_for('edit_profile') }}">Edit Description</a></p>
                {% else %}
                <p>
                  Add joining options soon!
                </p>
                {% endif %}
        </tr>
    </table>
    <hr>
{% endblock %}
